ion-menu {
  --width: 280px;
}

ion-list {
  padding: 8px 0;
}

ion-item {
  --padding-start: 16px;
  --inner-padding-end: 16px;
  margin: 4px 8px;
  border-radius: 4px;

  ion-icon {
    margin-right: 16px;
    color: var(--ion-color-primary);
  }
}
